.fancy-btn 
{
    border-radius: 15px;
    padding: 5px 15px;
    border-width: 0;
    color: #fff;
    background-color: #f63;
    font-size: 1rem;
    cursor: pointer;
}
.on-btn
{
    border-radius: 30px;
    background-color: #ff6666;
    margin: 20px;
}